.notification__description{
    margin-bottom: 15px;
    background: #fff!important;
  }

.success{
  background-image: -webkit-gradient(linear, left bottom, left top, from(#008000), to(#008000));
  background-image: -webkit-linear-gradient(bottom, #008000 0%, #008000 100%);
  background-image: -o-linear-gradient(bottom, #228b22 0%, #008000 100%);
  background-image: linear-gradient(0deg, #228b22 0%, #228b22 100%);

}
.tac{
  text-align: center;
}
.nav__link--active{
  text-decoration: none!important;
}

.contact-message--email{
  text-decoration: none;
}
