.notification__description{
    margin-bottom: 15px;
  }

.success{
  background-image: -webkit-gradient(linear, left bottom, left top, from(#008000), to(#008000));
  background-image: -webkit-linear-gradient(bottom, #008000 0%, #008000 100%);
  background-image: -o-linear-gradient(bottom, #228b22 0%, #008000 100%);
  background-image: linear-gradient(0deg, #228b22 0%, #228b22 100%);

}
.tac{
  text-align: center;
}
.nav__link--active{
  text-decoration: none!important;
}

.contact-message--email{
  text-decoration: none;
}
.offset--footer{
  margin-bottom: 50px;
}
.card-box__img-blog{
height: 170px;

}
.card-box__img-blog--eshop{
  height: 215px;

}
.card-box__title--eshop{
margin: 10px 0;
}
.shop_price--red{
  color: red;
}
.shop_price{
  display: block;
 
}
.title_price{
  font-weight: 600;

}
.card-box--eshop{
  height: 360px;
  margin-bottom: 15px;
}
.d-flex{
  align-items: center;
  display: flex;
  justify-content: space-between;
}


/* Cart */

.header {
	position: relative;
}

.header--vignette .header-user {
	/*padding-top: 60px;*/
	position: absolute;
	bottom: 30px;
	right: 0;
	margin-right: 0;
	font-size: 18px;
}

.header-user__links {
	text-decoration: none;
	border-bottom: 1px solid #fff;
	display: inline-block;
	padding-right: 0;
	margin-right: 20px;
	font-weight: 600;
	opacity: 0.8;
}

.cart {
	background-color: green;
	-webkit-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
	display: inline-block;
	position: absolute;
	z-index: 5;
	right: 0;
	top: 75px;
	font-size: 14px;
	padding: 10px 20px;
	background-color: #FFF;
}

.cart a {
	text-decoration: none;
}

.button {
	padding-top: 0.6em;
}

.button--edit {
	padding-top: 0.8em !important;
}

.button--del {
	padding-top: 0.8em !important;
}

.button--save {
	padding-top: 0.8em;
}

.table {
	border-bottom: 1px solid #dee2e6;
}

.label {
	display: block;
	margin-bottom: 20px;
}

.highlight {
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: #f8f9fa;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.header-user__block {
	width: 310px;
}

.header-user__buttons-profile {
	display: flex;
}

.button--profile {
	padding-top: 0.6em;
}

.text-success {
	color: #28a745 !important;
}

.text-danger {
	color: #dc3545 !important;
}

.table-total,
.table-total>th,
.table-total>td {
	background-color: #f8f9fa;
}

.button--small {
	padding-top: 0 !important;
}

.cart-img-preview {
	max-width: 80px;
	min-height: auto;
}

.cart-table td {
	vertical-align: middle;
}

.registration-page-header {
	-webkit-align-items: flex-start;
	align-items: flex-start;
}

.delete-from-cart {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: #037EC6;
	opacity: 0.3;
	transition: 0.2s ease-in;
	padding-left: 10px;
	padding-right: 10px;
}

.delete-from-cart:hover {
	opacity: 1;
}

.card__title {
	font-size: 22px;
	font-weight: 700;
}

.card__select,
a.card__select {
	color: #037ec6;
	font-size: 22px;
}

.card-post__img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}